@keyframes slideleft{
     0%   {max-width:1em;height: 15px;}   
    100%  { max-width:12em;height: 15px;}  
}
div.chat-desc {   
   
    background-color: #3cb4f7;
    position: fixed;
    bottom: 55px;
    right: 7.8em;
    display: none;
    padding: 3px;
    overflow: hidden;
    animation: slideleft 0.2s linear 0s;
}

img.img-container{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%,0);
   /* animation: bouncing 5s linear 0s /*infinite alternate*/;
}
@keyframes  bouncing{
     0%   {bottom:20px;}   
    10%  { bottom:100px;} 
    20%   {bottom:20px;}   
    30%  { bottom:75px;}  
    40%   {bottom:20px;}   
    50%  { bottom:50px;}  
    60%   {bottom:20px;}   
    70%  { bottom:35px;}
    80%   {bottom:20px;}   
    90%  { bottom:25px;}    
    100% {bottom:20px;}
} 
aside#container3 {
    position: fixed;
    bottom: 0;
    right: 0;
    height:100vh;
    width:10em;
    background-color:red;
}
body{margin:0; background-image: url(../img/p1.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment:fixed;}
p {
       margin: 0 142px;
    text-align: justify;
    color: white;
    height: 35cm;
    font-size: 44px;
    overflow: auto;
    border: 3px solid red;
    padding: 34px;
    margin-bottom: 5pc;
}
h1, h5 {
    margin: 0;
}
.fixBackground{
    background-attachment : fixed;
}
header {
    height: 100vh;
    background-size: cover;
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upperwindow {
    background-image: url(../img/p2.jpg);
 }
.upperwindow1 {
    background-image: url(../img/p4.jpg);
}
.upperwindow2 {
    background-image: url(../img/p3.jpg);
}
.top{
    z-index : 999;
}
.bottom{
    z-index:0;
}
img{
    position:absolute;
}
.img1{
    
    clip : rect(0px,100px,100px,0px);
}
.img2{
    clip : rect(100px,200px,100px,100px);
}
img3{
    clip : rect(0px,100px,100px,0px);
}
img4{
    clip : rect(0px,100px,100px,0px);
}